
.custom-logo {
    max-width: 100px; 
    height: auto;
  }

.nav-link {
  color: white;
  text-decoration: none; 
  margin-right: 15px; 
}

.nav-link:hover {
  color: rgb(4, 131, 209);; 
  text-decoration: none; /
}

.active-link {
  color: rgb(4, 131, 209);
}
@media (max-width: 400px) {
  .nav-link {
    font-size: 14px; 
  }
}

@media (max-width: 370px) {
  .nav-link {
    font-size: 12px; 
  }
}