
.custom-logo {
    max-width: 100px; 
    height: auto;
  }

.active-link {
  color: lightskyblue;
}
.nav-item .nav-link {
  color: white !important;
  text-decoration: none !important; 
  margin-right: 15px !important; 
}